*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.content{
  height: 100vh;
  background:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,61,79,1) 100%) !important;
  color: white  !important;
}

.navbar{
  background:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,61,79,1) 100%) !important;
  
}
.navbar-brand{
  color: white !important;
}
.nav-link{
  color: white !important;
  text-decoration: none !important;
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
}

.register-page{
  color: white !important;
  margin-top: 100px !important;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* transection page */
.filters{
  box-shadow: 0 0 15px rgb(231, 231, 231);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,61,79,1) 100%) !important;
  color: white !important;
}

/* AntIcon */

.anticon{
  cursor: pointer;
}
.active-icon{
  color: black;
}

.inactive-icon{
  color: gray;
}

.landing{
  height: 90vh;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,61,79,1) 100%) !important;
  
}