*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.content{
  /* height: 100vh; */
}

.navbar{
  background-color:rgb(186, 231, 233) !important;
}
.register-page{
  background-color: rgb(64, 167, 150);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* transection page */
.filters{
  box-shadow: 0 0 15px rgb(231, 231, 231);
}

/* AntIcon */

.anticon{
  cursor: pointer;
}
.active-icon{
  color: black;
}

.inactive-icon{
  color: gray;
}